
:root {
    --primary-color: #e6242b;
    --primary-hover-color: #72BF78 ;
  }

  /* Theme Coloring */
  .text-primary {
    color: var(--primary-color) !important;
  }

  .btn-primary,
  .bg-primary {
    background-color: var(--primary-color);
  }

  .border-primary,
  .btn-primary {
    border-color: var(--primary-color) !important;
  }

  .btn-primary:hover {
    background: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
  }